.nav {
  margin-bottom: 15px;
  background-color:transparent !important;
}

.center {
  text-align:center;
}

.spacer {
  height:25px;
}

.main-form {
  margin-top:100px;
  margin-left: 20%;
  margin-right: 20%;

}

table {
  border-collapse: collapse;
  border:1px solid #000;
  margin-right: auto;
  margin-left:auto;
}
table thead {
  background-color:#1C7854;
  border-bottom: 3px solid #000;
  border-top:1px solid #000;
  border-left:1px solid #000;
  border-right:1px solid #000;
  font-size:16px;
  font-weight:bold;
  color:#000;

}

table thead tr td {
  text-align:center;
  color:#FFF;
}

table tbody td {
  color:#000;
  background-color:#8FBEA9;
  padding:5px;
  text-align:center;
}

table tbody {
  border: 1px solid #000;
}

table tbody tr td a {
  color:blue;
  font-size:16px;
  text-decoration:underline;
}